@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cairo", sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.leaflet-popup {
  background: transparent;
}
.leaflet-popup-content-wrapper {
  background: transparent; /* Custom background */
}

.leaflet-popup-content {
  background: transparent;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent;
}



.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(172, 171, 171); /* Example color: Tailwind's 'blue-500' */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;/* Example color: Tailwind's 'gray-200' */
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Example color: Tailwind's 'blue-500' */
  border-radius: 5px;
}

.hidden-scrollbar::-webkit-scrollbar-track {
  background: transparent;/* Example color: Tailwind's 'gray-200' */
}